.main{
    width: 800px;
    height: 700px;
    margin: auto;
    align-content: center;
}


input[type=text], input[type=password] {
    display: inline;
    border: 1;
    background: #f1f1f1;
}
.required{
    color: red;
}
.button{
    margin: auto;
}
td {
    margin: 0;
    padding: 5px 15px;
 }